language: python

python:
  - "2.7"
  - "3.5"

env:
  - ADMIN_PARTY=true
  - ADMIN_PARTY=false

services:
  - couchdb

install: "pip install -r requirements.txt && pip install -r test-requirements.txt"
# command to run tests
script: nosetests -w ./tests/unit

notifications:
  email: false
